## Sumário

O objectivo deste tutorial é apresentar as funcionalidades da biblioteca Pandas para análise de dados.
O tutorial está organizado em 5 capítulos:

I - Importação de csv e excel

II - Análise exploratória de dados

III - Index, Slice, Select

IV - Limpeza e transformação de dados

V - Visualização de dados

Este notebook debruça-se sobre o **capítulo III** que mostra como aceder a colunas ou linhas específicas, como extrair subconjuntos de dados que obedecem a determinadas condições, etc.

Cada capítulo segue a seguinte estrutura: introdução, tabela sumário, secções e subsecções.

# [**I. Index, Slice and Select**](#Índice)  <a class="anchor"  id="c1"></a>

## Índice <a class="anchor"  id="Índice"></a>

* [Introdução](#IIIi)
* [Tabela sumário](#IIIt)
* [1. Seleccionar colunas](#III1)
    * [1.1 Aceder via nome da coluna](#III11)
    * [1.2 Aceder via atributo](#III12)
    * [1.3 Aceder via posição da coluna (index)](#III13)
* [2. Seleccionar linhas](#III2)
* [3. Seleccionar com .iloc](#III3)
    * [3.1 Seleccionar colunas](#III31)
    * [3.2 Seleccionar linhas](#III32)
    * [3.3 Seleccionar colunas e linhas](#III33)
    * [3.4 Seleccionar células](#III34)
* [4. Seleccionar com .loc](#III4)
    * [4.1 Seleccionar colunas](#III41)
    * [4.2 Seleccionar linhas](#III42)
    * [4.3 Seleccionar colunas e linhas](#III43) 
    * [4.4 Seleccionar células](#III44)
* [5. iloc vs. .loc](#III5)
* [6. Filtrar (seleccionar com condições)](#III6)
    * [6.1 Excluir NA](#III61)
    * [6.2 Excluir valores duplicados](#III62)
    * [6.3 Operadores ==, >=...](#III63)
    * [6.4 &, ~](#III64)
    * [6.5 Selecionar uma lista de valores para uma coluna | .isin()](#III65)
    * [6.6 .startswith(), endswith(), contains()](#III66)
    * [6.7 query](#II67)
* [7. .at e .iat](#II7)

# [**Introdução**](#Índice)  <a class="anchor"  id="Ii"></a>

Exemplos do que é possível com estas funcionalidades.

# [**Tabela sumário**](#Índice) <a class="anchor"  id="IIIt"></a>

Objectivo|Funcionalidade           |Sintaxe|
:----|:---------------------------------|:---------------------------------|
a           | b  |


# [**1. Seleccionar colunas**](#Índice)  <a class="anchor"  id="III1"></a>

Objectivo|Funcionalidade           |Sintaxe|Exemplo|
:----|:---------------------------------|:---------------------------------|----|
Aceder via nome da(s) coluna(s)         | table['col']  |
Aceder via atributo Python         | table.col, col como atributo |
Aceder via posição da coluna (index)        | iloc[:,col_index] | table.iloc[:,col_index]
Aceder via nome da coluna

In [1]:
#Preparar o ambiente. Selecionar o endereço do arquivo abaixo.
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/P_Data_Extract_From_World_Development_Indicators.xlsx
/kaggle/input/88c52f5e-f72c-406d-a2e2-31309c9953de_Series - Metadata.csv
/kaggle/input/88c52f5e-f72c-406d-a2e2-31309c9953de_Data.csv

In [2]:
file = '/kaggle/input/88c52f5e-f72c-406d-a2e2-31309c9953de_Data.csv'

table1 = pd.read_csv(file)

table1.head()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990,Algeria,NaN,12.238081,NaN,NaN,4.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## [**1.1 Aceder via nome da coluna**](#Índice)  <a class="anchor"  id="III11"></a>

In [3]:
table1['Time']

0                                                   1990
1                                                   1990
2                                                   1990
3                                                   1990
4                                                   1990
                              ...
3192                                                 NaN
3193                                                 NaN
3194                                                 NaN
3195    Data from database: World Development Indicators
3196                            Last Updated: 10/26/2023
Name: Time, Length: 3197, dtype: object

## [**1.2 Aceder via atributo**](#Índice)  <a class="anchor"  id="III12"></a>

tbc

## [**1.3 Aceder via posição da coluna (index)**](#Índice)  <a class="anchor"  id="III13"></a>

iloc e loc (linhas, colunas). Primeiro a posição das linhas e depois a posição das colunas. Por exemplo, table.iloc[1,2] dá-nos a célula que resulta da intersecção da linha com index 1 e da coluna com index 2, ou seja, da segunda linha e da terceira coluna dado que o index começa no zero.

In [4]:
"""
: - todas as linhas;
1 - coluna com a posição 1, ou seja, a segunda coluna 'Country Name'
"""

table1.iloc[:,1]

0          Afghanistan
1              Albania
2              Algeria
3       American Samoa
4              Andorra
             ...
3192               NaN
3193               NaN
3194               NaN
3195               NaN
3196               NaN
Name: Country Name, Length: 3197, dtype: object

# [**2. Seleccionar linhas**](#Índice) <a class="anchor"  id="III2"></a>

O mesmo processo usado na selecção de colunas.

Objectivo|Funcionalidade           |Sintaxe
:----|:---------------------------------|:--------------------------------
Obter um intervalo de linhas       | table[row_i : row_j]| table[table[row_i, row_j, se o intervalo pretendido for [i,j-1] 
Obter um intervalo de linhas | .iloc|  table.iloc[[ i : j ], :], linhas i até j-1
Obter um intervalo de linhas | .loc|  table.loc[[ i : j ], :], linhas i até j

In [5]:
table1[1:5]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990,Algeria,NaN,12.238081,NaN,NaN,4.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# [**3. Seleccionar com .iloc**](#Índice) <a class="anchor"  id="III3"></a>

O .iloc permite seleccionar um subconjunto de dados da tabela inicial. 
A sintaxe é tabela.iloc[linhas, colunas].

A selecção é feita com base na posicão no index.

Nota que o index começa na posição 0, tanto para linhas como para colunas.

Primeira coluna: Index 0; segunda linha: Index 1.

## [**3.1 Seleccionar colunas**](#Índice)  <a class="anchor"  id="III31"></a>

table.iloc[linhas, colunas]  |Linhas                    |Colunas                      |Intervalo
:----------------------------|:-------------------------|:----------------------------|:-------
[:, 1]                       | Todas                    | 1                           |
[:, :3]                      | Todas                    | 0, 1 e 2                    | colunas: [0,3**[**
[:, [2,3] ]                    | Todas                    | 2 e 3                       |
[:, [3,2] ]                   | Todas                    | 3 e 2                       |
[:, [1,3,5] ]                  | Todas                    | 1, 3 e 5                    |
[:, -1]                      | Todas                    | Última                      | 
[:, [-2,-1] ]                | Todas                    | Penúltima e última          |
[:, [-1,-2]  ]                | Todas                    | Última e penúltima     
[:,::-1] | Todas | Todas as colunas mas por ordem inversa. A última passa a primeira...

In [6]:
#Todas as linhas, segunda coluna, ie, coluna com posição 1 no index

table1.iloc[:,1].head()

0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
4           Andorra
Name: Country Name, dtype: object

In [7]:
"""
Todas as linhas, todas as colunas à esquerda da coluna na posição 3, 
excluindo esta. Ou seja, colunas 0, 1 e 2.
"""
table1.iloc[:,:3].head()

   Time    Country Name  Firms with female top manager (% of firms)
0  1990     Afghanistan                                         NaN
1  1990         Albania                                         NaN
2  1990         Algeria                                         NaN
3  1990  American Samoa                                         NaN
4  1990         Andorra                                         NaN

In [8]:
#Todas as linhas, duas colunas: coluna index 2 e coluna index 3.
table1.iloc[:,[2,3]]

,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)"
0,NaN,16.866045
1,NaN,40.805673
2,NaN,12.238081
3,NaN,NaN
4,NaN,NaN
...,...,...
3192,NaN,NaN
3193,NaN,NaN
3194,NaN,NaN
3195,NaN,NaN
3196,NaN,NaN

In [9]:
#Todas as linhas, quarta e terceira coluna, por esta ordem.

table1.iloc[:,[3,2]]

,"Labor force, female (% of total labor force)",Firms with female top manager (% of firms)
0,16.866045,NaN
1,40.805673,NaN
2,12.238081,NaN
3,NaN,NaN
4,NaN,NaN
...,...,...
3192,NaN,NaN
3193,NaN,NaN
3194,NaN,NaN
3195,NaN,NaN
3196,NaN,NaN

In [10]:
#Todas as linhas, última coluna
table1.iloc[:,-1]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3192   NaN
3193   NaN
3194   NaN
3195   NaN
3196   NaN
Name: Women who were first married by age 15 (% of women ages 20-24), Length: 3197, dtype: float64

In [11]:
#Todas as linhas, todas as colunas com a ordem invertida.

table1.iloc[:,::-1].head()

,Women who were first married by age 15 (% of women ages 20-24),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Unmet need for contraception (% of married women ages 15-49),"Government expenditure on education, total (% of GDP)","Literacy rate, adult male (% of males ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult female (% of females ages 15 and above)","Fertility rate, total (births per woman)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Labor force, female (% of total labor force)",Firms with female top manager (% of firms),Country Name,Time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.565,NaN,NaN,16.866045,NaN,Afghanistan,1990
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.900,NaN,NaN,40.805673,NaN,Albania,1990
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.556,NaN,NaN,12.238081,NaN,Algeria,1990
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,1990
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,1990

## [**3.2 Seleccionar linhas**](#Índice)  <a class="anchor"  id="III32"></a>

table.iloc[linhas, colunas]  |Linhas                    |Colunas                      |Intervalo
:----------------------------|:-------------------------|:----------------------------|:-------
[5, :]                       | 5                        | Todas                       |
[:5, :]                      | 0,1,2,3,4                | Todas                       |linhas: [0,5**[**
[ [4,5], :]                   | 4 e 5                    | Todas                       |
[-1, :]                      | Última                   | Todas                       |
[ [1,-1], :]                  | Segunda(Index 1) e última             | Todas                       |
[ [0,-1, 3], :]               | Primeira (Index 0), última e 3        | Todas                       |

In [12]:
#Linha 5, todas as colunas

table1.iloc[5, :]

Time                                                                                                                                                1990
Country Name                                                                                                                                      Angola
Firms with female top manager (% of firms)                                                                                                           NaN
Labor force, female (% of total labor force)                                                                                                   49.981317
Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)                                                                 NaN
Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)                                                                   NaN
Fertility rate, total (births per woman)                                                                                                           7.272
Literacy rate, adult female (% of females ages 15 and above)                                                                                         NaN
Literacy rate, adult total (% of people ages 15 and above)                                                                                           NaN
Literacy rate, adult male (% of males ages 15 and above)                                                                                             NaN
Government expenditure on education, total (% of GDP)                                                                                                NaN
Unmet need for contraception (% of married women ages 15-49)                                                                                         NaN
Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)          NaN
Women who believe a husband is justified in beating his wife when she goes out without telling him (%)                                               NaN
Women who were first married by age 15 (% of women ages 20-24)                                                                                       NaN
Name: 5, dtype: object

In [13]:
#Linhas 0 até 4, todas as colunas

table1.iloc[:5, :]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990,Algeria,NaN,12.238081,NaN,NaN,4.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Linhas 4 e 5, todas as colunas

table1.iloc[ [4,5], :]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1990,Angola,NaN,49.981317,NaN,NaN,7.272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#Primeira linha (index 0), última linha e terceira linha (index 4)

table1.iloc[ [0, -1, 4], :]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196,Last Updated: 10/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## [**3.3 Seleccionar colunas e linhas**](#Índice)  <a class="anchor"  id="III33"></a>

table.iloc[linhas, colunas]  |Linhas                    |Colunas                      |Intervalo
:----------------------------|:-------------------------|:----------------------------|:-------
[:3, 1]                      | 0,1 e 2                  | 1                           |
[:3,:3]                      | 0,1 e 2                  | 0, 1 e 2                    | linhas e colunas: [0,3**[**
[:5, [2,3]                   | 0-4                      | 2 e 3                       |
[[0,1], [3,2]]               | 0 e 1                    | 3 e 2                       |
[[0,-1], [1,3,5]             | Primeira (Index 0) e última                  | 1, 3 e 5                    |

In [16]:
#Primeiras 3 linhas (0,1 e 2), coluna com a primeira posição no index (segunda coluna).

table1.iloc[:3, 1]

0    Afghanistan
1        Albania
2        Algeria
Name: Country Name, dtype: object

In [17]:
#3 primeiras linhas, 3 primeiras colunas.

table1.iloc[:3,:3]

   Time Country Name  Firms with female top manager (% of firms)
0  1990  Afghanistan                                         NaN
1  1990      Albania                                         NaN
2  1990      Algeria                                         NaN

In [18]:
#Linha na posição 5, colunas na posições 2 e 3.
table1.iloc[5, [2,3] ]

Firms with female top manager (% of firms)            NaN
Labor force, female (% of total labor force)    49.981317
Name: 5, dtype: object

In [19]:
#Primeiras duas linhas, colunas 3 e 2, por esta ordem.

table1.iloc[ [0,1], [3,2] ]

,"Labor force, female (% of total labor force)",Firms with female top manager (% of firms)
0,16.866045,NaN
1,40.805673,NaN

In [20]:
#Primeira e última linha, colunas 1, 3 e 5

table1.iloc[ [0,-1], [1, 3, 5] ]

,Country Name,"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)"
0,Afghanistan,16.866045,NaN
3196,NaN,NaN,NaN

## [**3.4 Seleccionar células**](#Índice)  <a class="anchor"  id="III34"></a>

table.iloc[linhas, colunas]  |Célula |  
:----------------------------|:--------|
[0,0]                        | (0,0) - primeira linha e primeira coluna |
[0,1]                        | (1,0) - segunda linha e primeira coluna  |
[1,2]                        | (1,2) - segunda linha e terceira coluna  |
[0,-1]                       | (0,-1) - primeira linha e última coluna  |

In [21]:
table1.iloc[0,0]

'1990'

In [22]:
table1.iloc[0,1]

'Afghanistan'

In [23]:
table1.iloc[1,2]

nan

In [24]:
table1.iloc[0,-1]

nan

# [**4. Seleccionar com .loc**](#Índice) <a class="anchor"  id="III4"></a>

## [**4.1 Seleccionar colunas**](#Índice)  <a class="anchor"  id="III41"></a>

table.loc[linhas, colunas]                  |Linhas      |Colunas |Intervalo                  
:-------------------------------------------|:-----------|:-------|:---- 
[:, 'A']                              | Todas      | A                          
[:, :'A']                             | Todas      | A e todas as colunas à esquerda | [Column(Index 0), Column A]            
[:, ['A', 'F']                        | Todas      | A e F               
[:,:]                                       | Todas      | Todas  | = table

## [**4.2 Seleccionar linhas**](#Índice)  <a class="anchor"  id="III42"></a>

Por defeito, é criado é um index que numera as linhas,começando no zero.

Se for alterada a composição do index ou se for seleccionada uma das colunas com index,em vez de usarmos números usamos o nome que cada linha tem no index. Por exemplo, se a coluna 'Country Name' for seleccionada como index cada país ocupará uma posição no index. Para seleccionar Brasil: table1.lolc['Brasil',:]

table.loc[linhas, colunas]  |Linhas                     |Colunas                      |Intervalo
:----------------------------|:-------------------------|:----------------------------|:-------
[5, :]                       | 5                        | Todas                       |           |
[:5, :]                      | 0,1,2,3,4                | A                           |linhas: [0,5**]**
[ [4,5], :]                   | 4 e 5                    | Todas                       |
[ [0, 1, 3], :]                      |0, 1 e 3                   | Todas         
[ -1, :]               | -1 não existe como nome no index. Não pode ser seleccionado com .loc      |                  |

In [25]:
#Linha 5, todas as colunas.

table1.loc[5,:]

Time                                                                                                                                                1990
Country Name                                                                                                                                      Angola
Firms with female top manager (% of firms)                                                                                                           NaN
Labor force, female (% of total labor force)                                                                                                   49.981317
Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)                                                                 NaN
Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)                                                                   NaN
Fertility rate, total (births per woman)                                                                                                           7.272
Literacy rate, adult female (% of females ages 15 and above)                                                                                         NaN
Literacy rate, adult total (% of people ages 15 and above)                                                                                           NaN
Literacy rate, adult male (% of males ages 15 and above)                                                                                             NaN
Government expenditure on education, total (% of GDP)                                                                                                NaN
Unmet need for contraception (% of married women ages 15-49)                                                                                         NaN
Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)          NaN
Women who believe a husband is justified in beating his wife when she goes out without telling him (%)                                               NaN
Women who were first married by age 15 (% of women ages 20-24)                                                                                       NaN
Name: 5, dtype: object

In [26]:
#Primeiras 6 linhas: linhas 0 à linha 5, inclusive; todas as colunas.

table1.loc[:5, :]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990,Algeria,NaN,12.238081,NaN,NaN,4.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1990,Angola,NaN,49.981317,NaN,NaN,7.272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#Linhas 4 e 5, todas as colunas.

table1.loc[ [4, 5], :]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1990,Angola,NaN,49.981317,NaN,NaN,7.272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
table1.loc[ [0,1, 3], :]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## [**4.3 Seleccionar colunas e linhas**](#Índice)  <a class="anchor"  id="III41"></a>

table.loc[linhas, colunas]  |Linhas                    |Colunas                      |Intervalo
:-----------------------------|:-------------------------|:----------------------------|:-------
[:3, 'A']                     | 0,1,2 e 3                | A                          |[0,3**]**
[:3,['A','F']]                | 0,1,2 e 3                | A e F                      | linhas [0,3**]**
[[0,1],['A','F']]             | 0 e 1                    | A e F                      |
[[0,1],'A':'F']               | 0 e 1                    | A até F                    | linhas [0,1] colunas [A,F]

In [29]:
#Linhas 0 até 3, inclusive; coluna 'Country Name'

table1.loc[:3, 'Country Name']

0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
Name: Country Name, dtype: object

In [30]:
table1.loc[:3, ['Time', 'Country Name']]

   Time    Country Name
0  1990     Afghanistan
1  1990         Albania
2  1990         Algeria
3  1990  American Samoa

In [31]:
#Linhas 1 e 2, colunas 1 e 2


table1.loc[ [1,2], ['Country Name','Firms with female top manager (% of firms)']]

  Country Name  Firms with female top manager (% of firms)
1      Albania                                         NaN
2      Algeria                                         NaN

In [32]:
#Linhas 0 e 1, colunas entre coluna 'Time' e 'Firms...'

table1.loc[ [0,1], 'Time' : 'Firms with female top manager (% of firms)']

   Time Country Name  Firms with female top manager (% of firms)
0  1990  Afghanistan                                         NaN
1  1990      Albania                                         NaN

## [**4.4 Seleccionar células**](#Índice)  <a class="anchor"  id="III44"></a>

table.loc[linhas, colunas]  |Célula 
:----------------------------|:--------
[0,'A']                      | (0,A) - primeira linha e coluna A        
[1,'A']                      | (1,A) - segunda linha e coluna A  
['a','A']                    | (a,A) - linha a e coluna A

In [33]:
table1.loc[0,'Firms with female top manager (% of firms)']

nan

In [34]:
#table1.loc[['Armenia'], :]

"""
Possível apenas se a coluna 'Country Name' fosse o index da tabela e
'Armenia' ocupasse uma posição nesse index.
"""

"\nPossível apenas se a coluna 'Country Name' fosse o index da tabela e\n'Armenia' ocupasse uma posição nesse index.\n"

# [**5. iloc vs. .loc**](#Índice) <a class="anchor"  id="III5"></a>

.iloc localiza pela posição no index e .loc pelo nome.

Nota: .iloc funciona com intervalo aberto à direita e .loc com intervalo fechado à direita.
    
Para seleccionar linhas até 3, inclusive: 

    table.iloc[:4,:]   = table.loc[:3,:]


# [**6. Filtrar (seleccionar com condições)**](#Índice)  <a class="anchor"  id="III6"></a>

Objectivo|Funcionalidade           |Sintaxe|
:----|:---------------------------------|:---------------------------------|
Excluir linhas com valores NA          |.notna() |table[table[ 'column' ].notna()
Excluir linhas com valores NA          |.dropna()|table[ 'column' ].dropna()
Excluir valores duplicados             |.drop_duplicates()|table[table[ 'column' ].drop_duplicates()
Seleccionar valores da coluna iguais a k | == | table[table[ 'column' ] == 'k'
Seleccionar todos os valores excepto t | != | table[table[ 'column' ] != 'k'
Seleccionar valores da coluna superiores a k | > | table[ table[ 'column' ] > 'k'
E | & | table[ ( table['columnA' ] == 'k' ) & ( table[ 'columnA' ] >= 'm' ) ]
Ou | \| |table[ ( table['columnA' ] == 'j' ) \| ( table[ 'columnB' ] >= 'n' ) ]
Negação | ~ |table[ table[ 'column' ].isin( [...] ) )
Filtrar valores constantes de uma lista | isin()| table[ table[ 'column' ].isin( [...] ) )
Filtrar valores que começam com X | str.startswith() | table1[ table1[ 'Column' ].str.startswith( 'X',na=False )]
Filtrar valores que terminam com X | str.endswith() | table1[ table1[ 'Column' ].str.endswith( 'X',na=False ) ]
Filtrar valores que contêm  X | str.contains() | table1[ table1[ 'Column' ].str.contains( 'X',na=False )]

## [**6.1 Excluir NA**](#Índice)  <a class="anchor"  id="III61"></a>

In [35]:
"""
Excluir dos resultados todas as linhas NA na coluna 'Country Name'.

"""

table1[table1['Country Name'].notna()]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990,Algeria,NaN,12.238081,NaN,NaN,4.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,2022,Sub-Saharan Africa,NaN,46.252039,NaN,NaN,NaN,61.437691,67.715012,74.164963,3.224586,NaN,NaN,NaN,NaN
3188,2022,Sub-Saharan Africa (excluding high income),NaN,46.252039,NaN,NaN,NaN,61.433842,67.711639,74.162201,3.224586,NaN,NaN,NaN,NaN
3189,2022,Sub-Saharan Africa (IDA & IBRD countries),NaN,46.252039,NaN,NaN,NaN,61.437691,67.715012,74.164963,3.224586,NaN,NaN,NaN,NaN
3190,2022,Upper middle income,NaN,43.394737,NaN,NaN,NaN,94.710197,95.955971,97.205338,NaN,NaN,NaN,NaN,NaN
3191,2022,World,NaN,39.487264,NaN,NaN,NaN,83.783836,87.011749,90.310654,NaN,NaN,NaN,NaN,NaN

In [36]:
table1['Country Name'].dropna()

0                                      Afghanistan
1                                          Albania
2                                          Algeria
3                                   American Samoa
4                                          Andorra
                           ...
3187                            Sub-Saharan Africa
3188    Sub-Saharan Africa (excluding high income)
3189     Sub-Saharan Africa (IDA & IBRD countries)
3190                           Upper middle income
3191                                         World
Name: Country Name, Length: 3192, dtype: object

## [**6.2 Excluir valores duplicados**](#Índice)  <a class="anchor"  id="III61"></a>

In [37]:
table1[table1['Country Name'].notna()].drop_duplicates()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
0,1990,Afghanistan,NaN,16.866045,NaN,NaN,7.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990,Algeria,NaN,12.238081,NaN,NaN,4.556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,2022,Sub-Saharan Africa,NaN,46.252039,NaN,NaN,NaN,61.437691,67.715012,74.164963,3.224586,NaN,NaN,NaN,NaN
3188,2022,Sub-Saharan Africa (excluding high income),NaN,46.252039,NaN,NaN,NaN,61.433842,67.711639,74.162201,3.224586,NaN,NaN,NaN,NaN
3189,2022,Sub-Saharan Africa (IDA & IBRD countries),NaN,46.252039,NaN,NaN,NaN,61.437691,67.715012,74.164963,3.224586,NaN,NaN,NaN,NaN
3190,2022,Upper middle income,NaN,43.394737,NaN,NaN,NaN,94.710197,95.955971,97.205338,NaN,NaN,NaN,NaN,NaN
3191,2022,World,NaN,39.487264,NaN,NaN,NaN,83.783836,87.011749,90.310654,NaN,NaN,NaN,NaN,NaN

In [38]:
table1[table1['Women who believe a husband is justified in beating his wife when she goes out without telling him (%)'].notna()]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
274,2000,Armenia,NaN,48.794123,NaN,NaN,1.603,NaN,NaN,NaN,2.772730,18.1,NaN,19.9,0.8
330,2000,Ethiopia,NaN,44.781638,NaN,NaN,6.560,NaN,NaN,NaN,3.983110,36.6,NaN,56.2,19.1
350,2000,Haiti,NaN,45.932066,NaN,NaN,4.390,NaN,NaN,NaN,NaN,39.6,NaN,28.8,5.3
385,2000,Malawi,NaN,50.406097,NaN,NaN,6.036,NaN,NaN,NaN,3.606130,29.9,NaN,16.6,10.2
428,2000,Rwanda,NaN,45.915351,NaN,NaN,5.924,59.750340,64.888603,71.419380,3.434310,36.4,NaN,36.6,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506,2020,Liberia,NaN,47.870094,NaN,NaN,4.174,NaN,NaN,NaN,2.139915,33.4,62.2,23.1,5.8
2556,2020,Rwanda,NaN,46.414761,NaN,NaN,3.873,NaN,NaN,NaN,3.333943,13.6,63.0,37.6,0.3
2749,2021,India,NaN,23.019117,NaN,NaN,2.031,NaN,NaN,NaN,4.635141,9.4,NaN,20.9,4.0
2778,2021,Madagascar,NaN,48.842986,NaN,NaN,3.851,NaN,NaN,NaN,3.198076,14.6,NaN,22.1,12.7
2785,2021,Mauritania,NaN,33.588938,NaN,NaN,4.398,62.169998,66.959999,71.779999,1.745530,31.1,NaN,16.7,15.5

## [**6.3 Operadores ==, >=...**](#Índice)  <a class="anchor"  id="III63"></a>

In [39]:
table1[table1['Country Name'] == 'Brazil']

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
26,1990,Brazil,NaN,34.913911,NaN,NaN,2.905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Brazil,NaN,40.193869,NaN,NaN,2.255,86.500053,86.367882,86.227982,3.94893,NaN,NaN,NaN,NaN
558,2013,Brazil,NaN,42.123945,NaN,NaN,1.748,91.764961,91.484238,91.177963,5.83885,NaN,NaN,NaN,NaN
824,2014,Brazil,NaN,42.217141,NaN,NaN,1.767,92.060516,91.729431,91.366768,5.94848,NaN,NaN,NaN,NaN
1090,2015,Brazil,NaN,42.553791,NaN,NaN,1.777,92.343788,92.047897,91.725159,6.24106,NaN,NaN,NaN,NaN
1356,2016,Brazil,NaN,42.705732,NaN,NaN,1.709,93.021202,92.808441,92.575157,6.31404,NaN,NaN,NaN,NaN
1622,2017,Brazil,NaN,43.230434,11.60814,5.13276,1.736,93.243713,93.075821,92.891533,6.32048,NaN,NaN,NaN,NaN
1888,2018,Brazil,NaN,43.432423,NaN,NaN,1.749,93.425072,93.227501,93.009041,6.08851,NaN,NaN,NaN,NaN
2154,2019,Brazil,NaN,43.736217,NaN,NaN,1.703,NaN,NaN,NaN,5.96347,NaN,NaN,NaN,NaN
2420,2020,Brazil,NaN,42.605281,NaN,NaN,1.649,NaN,NaN,NaN,5.77150,NaN,NaN,NaN,NaN
2686,2021,Brazil,NaN,43.117615,NaN,NaN,1.641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2952,2022,Brazil,NaN,43.579161,NaN,NaN,NaN,94.919998,94.690002,94.449997,NaN,NaN,NaN,NaN,NaN

In [40]:
# Todos os valores da coluna 'Time' excepto 1990

table1[table1['Time'] != '1990']

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
266,2000,Afghanistan,NaN,16.542629,NaN,NaN,7.534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,2000,Albania,NaN,42.026200,NaN,NaN,2.231,NaN,NaN,NaN,3.43017,NaN,NaN,NaN,NaN
268,2000,Algeria,NaN,13.828949,NaN,NaN,2.566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2000,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2000,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196,Last Updated: 10/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## [**6.4 Operadores lógicos &, |, ~**](#Índice)  <a class="anchor"  id="III64"></a>

In [41]:
# & - And; Necessita parêntesis.


table1.loc[(table1['Time']>='2019') & (table1['Country Name'] == 'Brazil'),['Country Name', 'Time','Government expenditure on education, total (% of GDP)']]

     Country Name  Time  Government expenditure on education, total (% of GDP)
2154       Brazil  2019                                            5.96347
2420       Brazil  2020                                            5.77150
2686       Brazil  2021                                                NaN
2952       Brazil  2022                                                NaN

In [42]:
table1.loc[(table1['Time']>'2015') & (table1['Country Name'] == 'India'),['Time','Country Name','Women who believe a husband is justified in beating his wife when she goes out without telling him (%)']].dropna()

,Time,Country Name,Women who believe a husband is justified in beating his wife when she goes out without telling him (%)
1419,2016,India,26.1
2749,2021,India,20.9

In [43]:
table1[(table1['Country Name'].notna()) & (table1['Time'] == '2020')].drop_duplicates()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
2394,2020,Afghanistan,NaN,19.793486,NaN,NaN,4.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2395,2020,Albania,NaN,43.822864,NaN,NaN,1.400000,NaN,NaN,NaN,3.342300,NaN,NaN,NaN,NaN
2396,2020,Algeria,NaN,19.229614,NaN,NaN,2.942000,NaN,NaN,NaN,7.042397,NaN,NaN,NaN,NaN
2397,2020,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2398,2020,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.856163,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,2020,Sub-Saharan Africa,NaN,46.053642,NaN,NaN,4.666824,61.142250,67.547630,74.174362,3.819201,NaN,NaN,NaN,NaN
2656,2020,Sub-Saharan Africa (excluding high income),NaN,46.053642,NaN,NaN,4.667023,61.138210,67.544113,74.171494,3.819201,NaN,NaN,NaN,NaN
2657,2020,Sub-Saharan Africa (IDA & IBRD countries),NaN,46.053642,NaN,NaN,4.666824,61.142250,67.547630,74.174362,3.819201,NaN,NaN,NaN,NaN
2658,2020,Upper middle income,NaN,43.367952,NaN,NaN,1.631490,94.703873,95.956917,97.214653,4.342245,NaN,NaN,NaN,NaN
2659,2020,World,NaN,39.350260,NaN,NaN,2.299626,83.325203,86.711510,90.114662,4.444077,NaN,NaN,NaN,NaN

In [44]:
#| - Or; necessita parêntesis. 
#table.loc[ (table[col1] condição) & [table[col2] condição), [col1, col2, ...]]

table1.loc[(table1['Time']>'2015') & ((table1['Country Name'] == 'India') | (table1['Country Name'] == 'Madagascar')) ,['Time','Country Name','Women who believe a husband is justified in beating his wife when she goes out without telling him (%)']].dropna()

,Time,Country Name,Women who believe a husband is justified in beating his wife when she goes out without telling him (%)
1419,2016,India,26.1
2749,2021,India,20.9
2778,2021,Madagascar,22.1

In [45]:
#Quite different!! ;)

#table1[table1['Time'] == '2020'].dropna().drop_duplicates()

In [46]:
table1[(table1['Country Name'] == 'Brazil')  & (table1['Time'] >= '2019')].drop_duplicates()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
2154,2019,Brazil,NaN,43.736217,NaN,NaN,1.703,NaN,NaN,NaN,5.96347,NaN,NaN,NaN,NaN
2420,2020,Brazil,NaN,42.605281,NaN,NaN,1.649,NaN,NaN,NaN,5.77150,NaN,NaN,NaN,NaN
2686,2021,Brazil,NaN,43.117615,NaN,NaN,1.641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2952,2022,Brazil,NaN,43.579161,NaN,NaN,NaN,94.919998,94.690002,94.449997,NaN,NaN,NaN,NaN,NaN

In [47]:
#isin( [,] ) 
#~ negação

table1[~table1['Time'].isin(['1990'])]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
266,2000,Afghanistan,NaN,16.542629,NaN,NaN,7.534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,2000,Albania,NaN,42.026200,NaN,NaN,2.231,NaN,NaN,NaN,3.43017,NaN,NaN,NaN,NaN
268,2000,Algeria,NaN,13.828949,NaN,NaN,2.566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2000,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2000,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196,Last Updated: 10/26/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## [**6.5 Selecionar uma lista de valores para uma coluna | .isin()**](#Índice)  <a class="anchor"  id="III65"></a>

In [48]:
#isin( [,] ) 

table1.loc[(table1['Country Name'].isin(['Brazil','Argentina'])) & ((table1['Time'] >= '2019'))].drop_duplicates()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
2135,2019,Argentina,NaN,42.376056,NaN,NaN,1.994,NaN,NaN,NaN,4.77760,NaN,NaN,NaN,NaN
2154,2019,Brazil,NaN,43.736217,NaN,NaN,1.703,NaN,NaN,NaN,5.96347,NaN,NaN,NaN,NaN
2401,2020,Argentina,NaN,42.393834,NaN,NaN,1.911,NaN,NaN,NaN,5.27964,12.541869,NaN,NaN,2.4
2420,2020,Brazil,NaN,42.605281,NaN,NaN,1.649,NaN,NaN,NaN,5.77150,NaN,NaN,NaN,NaN
2667,2021,Argentina,NaN,42.533911,NaN,NaN,1.885,NaN,NaN,NaN,4.64760,NaN,NaN,NaN,NaN
2686,2021,Brazil,NaN,43.117615,NaN,NaN,1.641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2933,2022,Argentina,NaN,43.081417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2952,2022,Brazil,NaN,43.579161,NaN,NaN,NaN,94.919998,94.690002,94.449997,NaN,NaN,NaN,NaN,NaN

## [**6.6 .startswith(), endswith(), contains()**](#Índice)  <a class="anchor"  id="III66"></a>

In [49]:
table1[table1['Country Name'].str.startswith('B',na=False)]

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
13,1990,"Bahamas, The",NaN,46.305965,NaN,NaN,2.527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1990,Bahrain,NaN,16.710151,NaN,NaN,3.758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1990,Bangladesh,NaN,21.748204,NaN,NaN,4.479,NaN,NaN,NaN,1.519120,NaN,NaN,NaN,NaN
16,1990,Barbados,NaN,46.928093,NaN,NaN,1.740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1990,Belarus,NaN,48.802979,NaN,NaN,1.913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,2022,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2954,2022,Brunei Darussalam,NaN,41.819671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2955,2022,Bulgaria,NaN,46.438465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2956,2022,Burkina Faso,NaN,45.254039,NaN,NaN,NaN,29.120001,34.490002,40.070000,5.276512,NaN,NaN,NaN,NaN
2957,2022,Burundi,NaN,51.959118,NaN,NaN,NaN,69.440002,75.540001,81.839996,NaN,NaN,NaN,NaN,NaN

In [50]:
table1[table1['Country Name'].str.endswith('ania',na=False)].drop_duplicates().head()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
1,1990,Albania,NaN,40.805673,NaN,NaN,2.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,1990,Lithuania,NaN,48.436506,NaN,NaN,2.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,1990,Mauritania,NaN,27.379970,NaN,NaN,6.056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,1990,Romania,NaN,46.578520,NaN,NaN,1.830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,1990,Tanzania,NaN,49.826007,NaN,NaN,6.195,NaN,NaN,NaN,2.13807,NaN,NaN,NaN,NaN

In [51]:
table1[table1['Country Name'].str.contains('por',na=False)].drop_duplicates().head()

,Time,Country Name,Firms with female top manager (% of firms),"Labor force, female (% of total labor force)","Proportion of time spent on unpaid domestic and care work, female (% of 24 hour day)","Proportion of time spent on unpaid domestic and care work, male (% of 24 hour day)","Fertility rate, total (births per woman)","Literacy rate, adult female (% of females ages 15 and above)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, adult male (% of males ages 15 and above)","Government expenditure on education, total (% of GDP)",Unmet need for contraception (% of married women ages 15-49),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who were first married by age 15 (% of women ages 20-24)
171,1990,Singapore,NaN,36.906174,NaN,NaN,1.83,83.026848,89.096001,95.093163,NaN,NaN,NaN,NaN,NaN
437,2000,Singapore,NaN,38.779093,NaN,NaN,1.60,88.645180,92.549400,96.565102,3.321300,NaN,NaN,NaN,NaN
703,2013,Singapore,NaN,41.033493,NaN,NaN,1.19,94.641869,96.548019,98.542542,2.854350,NaN,NaN,NaN,NaN
969,2014,Singapore,NaN,41.355645,NaN,NaN,1.25,94.911324,96.716690,98.609016,2.924367,NaN,NaN,NaN,NaN
1235,2015,Singapore,NaN,41.678204,NaN,NaN,1.24,95.190651,96.825493,98.559570,2.863093,NaN,NaN,NaN,NaN

## [**6.7 query**](#Índice)  <a class="anchor"  id="III67"></a>

tbc

# [**7. .at e .iat**](#Índice) <a class="anchor"  id="III7"></a>

tbc

#### [Voltar ao Índice](#Índice)